#sidebar {
	height: calc(100vh - 60px);  
	overflow-x:auto;
}

.tasks-lists-delete {
    display: none;
    font-size: 5px;
}

.tasks-lists-item {
	cursor: pointer;
}

.active{
	color: white !important;
}

.tasks-lists-delete i {
    font-size: 20px;
}

.tasks-lists-item:hover .tasks-lists-delete {
    display: inline-block;
}

.task{
	cursor: pointer;
}


@media (max-width: 575.98px) {}
@media (max-width: 767.98px) {}
@media (max-width: 991.98px) {}
@media (max-width: 1199.98px) { 
	#sidebar {
		overflow:hidden;
		height: auto;
	}
 }